/Aula05ServletsApi/nbproject/private/
/Aula05ServletsApi/build/
/Aula05Exercicios/nbproject/private/
/Aula05Exercicios/build/
/Aula06VueTasks/nbproject/private/
/Aula06VueTasks/build/
/Aula04Servlets/dist/
/WebApplication1/nbproject/private/
/Aula08Juros/nbproject/private/
/Aula08Juros/build/
