/Aula05ServletsApi/nbproject/private/
/Aula05ServletsApi/build/
/Aula05Exercicios/nbproject/private/
/Aula05Exercicios/build/
/Aula06VueTasks/nbproject/private/
/Aula06VueTasks/build/
/Aula04Servlets/dist/
/WebApplication1/nbproject/private/
/Aula08Juros/nbproject/private/
/Aula08Juros/build/
/Aula09SemanaTecnologia/nbproject/private/
/Aula09SemanaTecnologia/build/
/Aula10JSP/nbproject/private/
/Aula10JSP/build/
/Aula11Diretivas/nbproject/private/
/Aula11Diretivas/build/
/Aula11Diretivas2/nbproject/private/
/Aula11Diretivas2/build/
/Aula11Diretivas2/dist/
/Aula12HttpSession/nbproject/private/
/Aula12HttpSessio/nbproject/private/
/Aula12HttpSessio/build/
